<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.viatra2.emf.incquery.databinding.ui"
            name="MatchSetViewer">
      </category>
      <view
            category="org.eclipse.viatra2.emf.incquery.databinding.ui"
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
            icon="icons/sample.gif"
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
            name="MatchSetViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.viewContribution1"
            targetID="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer">
         <action
               class="org.eclipse.viatra2.emf.incquery.databinding.ui.actions.LoadModelActionDelegate"
               enablesFor="*"
               icon="icons/load.gif"
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.loadModelAction"
               label="Load model"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.viatra2.emf.incquery.databinding.ui.actions.UnloadModelActionDelegate"
               enablesFor="*"
               icon="icons/unload.gif"
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.unloadModelAction"
               label="Unload model"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.viewerContribution2"
            targetID="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer.treeViewerMenu">
         <action
               class="org.eclipse.viatra2.emf.incquery.databinding.ui.actions.ShowLocationActionDelegate"
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.action3"
               label="Show location"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra2.patternlanguage.emf.file">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.emfpattern">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.actions.RuntimeMatcherRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.actions.RuntimeMatcherUnRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.packageExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.emfpattern">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.emfpattern">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.projectExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.resourceNavigator"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
            name="Register patterns in MatchSetViewer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
            name="Unregister patterns from MatchSetViewer">
      </command>
   </extension>

</plugin>
