<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.viatra2.emf.incquery.gui.category"
            name="EMF-IncQuery">
      </category>
      <wizard
            category="org.eclipse.viatra2.emf.incquery.gui.category"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.viatra2.gui.perspective"
            id="org.eclipse.viatra2.emf.incquery.gui.newproject"
            name="Create Incremental Query Project"
            preferredPerspectives="org.eclipse.viatra2.gui.perspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
     <!-- <wizard
            category="org.eclipse.ui.Examples"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewSampleProjectWizard"
            finalPerspective="org.eclipse.viatra2.gui.perspective"
            id="org.eclipse.viatra2.emf.incquery.gui.sampleprojectwizard"
            name="EMF-IncQuery Sample Project"
            preferredPerspectives="org.eclipse.viatra2.gui.perspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>-->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra2.emf.incquery.model.incquerygenmodel.presentation.IncquerygenmodelEditorID">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.loadmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.eclipse.viatra2.emf.incquery.model.incquerygenmodel.IncQueryGenmodel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
               
         </command>
      </menuContribution>
      
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
             <menu
                   id="org.eclipse.viatra2.emf.incquery.gui.menu.packageExplorer"
                   label="EMF-IncQuery">
         
        </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
           <menu
                 id="org.eclipse.viatra2.emf.incquery.gui.menu.projectExplorer"
                 label="EMF-IncQuery">
           </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
        <menu
              id="org.eclipse.viatra2.emf.incquery.gui.menu.resourceNavigator"
              label="EMF-IncQuery">
         
        </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.viatra2.emf.incquery"
            name="EMF-IncQuery">
      </category>
      <cheatsheet
            category="org.eclipse.viatra2.emf.incquery"
            composite="true"
            contentFile="cheatsheets/gettingstarted.xml"
            id="org.eclipse.viatra2.emf.incquery.gui.cheatsheet"
            name="Getting Started with EMF-IncQuery">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
   </extension>

</plugin>
