<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.viatra2.emf.incquery.gui.category"
            name="EMF-IncQuery">
      </category>
      <wizard
            category="org.eclipse.viatra2.emf.incquery.gui.category"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/logo2.png"
            id="org.eclipse.viatra2.emf.incquery.gui.newproject"
            name="EMF-IncQuery Project"
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.viatra2.emf.incquery.gui.category"
            class="org.eclipse.viatra2.emf.incquery.gui.IncQueryLanguageExecutableExtensionFactory:org.eclipse.viatra2.emf.incquery.gui.wizards.NewEiqFileWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/logo2.png"
            id="org.eclipse.viatra2.emf.incquery.gui.neweiqfile"
            name="EMF-IncQuery query definition "
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective">
      </wizard>
     <!-- <wizard
            category="org.eclipse.ui.Examples"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewSampleProjectWizard"
            finalPerspective="org.eclipse.viatra2.gui.perspective"
            id="org.eclipse.viatra2.emf.incquery.gui.sampleprojectwizard"
            name="EMF-IncQuery Sample Project"
            preferredPerspectives="org.eclipse.viatra2.gui.perspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>-->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra2.emf.incquery.model.incquerygenmodel.presentation.IncquerygenmodelEditorID">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.loadmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.eclipse.viatra2.emf.incquery.model.incquerygenmodel.IncQueryGenmodel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
               
         </command>
      </menuContribution>
      
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
             <menu
                   id="org.eclipse.viatra2.emf.incquery.gui.menu.packageExplorer"
                   label="EMF-IncQuery">
         
        </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
           <menu
                 id="org.eclipse.viatra2.emf.incquery.gui.menu.projectExplorer"
                 label="EMF-IncQuery">
           </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
        <menu
              id="org.eclipse.viatra2.emf.incquery.gui.menu.resourceNavigator"
              label="EMF-IncQuery">
         
        </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.viatra2.emf.incquery"
            name="EMF-IncQuery">
      </category>
      <cheatsheet
            category="org.eclipse.viatra2.emf.incquery"
            composite="true"
            contentFile="cheatsheets/gettingstarted.xml"
            id="org.eclipse.viatra2.emf.incquery.gui.cheatsheet"
            name="Getting Started with EMF-IncQuery">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
   </extension>
<extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.viatra2.emf.incquery.tooling.gui"
            name="EMF-IncQuery">
      </category>
      <view
            category="org.eclipse.viatra2.emf.incquery.tooling.gui"
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.QueryExplorer"
            icon="icons/logo2.png"
            id="org.eclipse.viatra2.emf.incquery.queryexplorer.QueryExplorer"
            name="Query Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.viatra2.emf.incquery.matchsetviewer.MatchSetView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra2.patternlanguage.emf.file">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.emfpattern">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.RuntimeMatcherMenuRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.RuntimeMatcherMenuUnRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.UnloadModelHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.unloadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.LoadModelHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.loadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.ShowLocationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.showlocation">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.RuntimeMatcherEditorRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg_editor">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.queryexplorer.handlers.RuntimeMatcherEditorUnRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg_editor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="org.eclipse.viatra2.emf.incquery.tooling.gui.menu.packageExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.eiq">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.eiq">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="org.eclipse.viatra2.emf.incquery.tooling.gui.menu.projectExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               id="org.eclipse.viatra2.emf.incquery.tooling.gui.menu.resourceNavigator"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra2.emf.incquery.queryexplorer.QueryExplorer">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.loadmodel"
               icon="icons/load.gif"
               label="Load model"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.unloadmodel"
               icon="icons/unload.gif"
               label="Unload model"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra2.emf.incquery.queryexplorer.QueryExplorer.treeViewerMenu">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.showlocation"
               label="Show location"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.viatra2.emf.incquery.queryexplorer.observable.PatternMatch">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.edit">
         <menu
               id="org.eclipse.viatra2.emf.incquery.tooling.gui.menu.emfpatternlanguage"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg_editor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg_editor"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.viatra2.patternlanguage.EMFPatternLanguage">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg"
            name="Register patterns in Query Explorer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg"
            name="Unregister patterns from Query Explorer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.loadmodel"
            name="Load model">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.unloadmodel"
            name="Unload model">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.showlocation"
            name="Show location">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherreg_editor"
            name="Register patterns in Query Explorer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.tooling.gui.runtimematcherunreg_editor"
            name="Unregister patterns from Query Explorer">
      </command>
   </extension>
</plugin>
