<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor"
            targetID="org.eclipse.emf.ecore.presentation.EcoreEditorID"> 
         <action
               class="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.actions.InitValidationActionDelegate"
               id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor"
               label="EMF-IncQuery Validator"
               style="push"
               toolbarPath="file/export">
         </action>         
      </editorContribution>
      <editorContribution
            id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor"
            targetID="org.eclipse.emf.ecore.presentation.ReflectiveEditorID"> 
         <action
               class="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.actions.InitValidationActionDelegate"
               id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor.reflective"
               label="EMF-IncQuery Validator"
               style="push"
               toolbarPath="file/export">
         </action>         
      </editorContribution>
      <editorContribution
            id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor"
            targetID="org.eclipse.emf.ecore.presentation.XMLReflectiveEditorID"> 
         <action
               class="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.actions.InitValidationActionDelegate"
               id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor.reflective.xml"
               label="EMF-IncQuery Validator"
               style="push"
               toolbarPath="file/export">
         </action>         
      </editorContribution>
      <editorContribution
            id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.treeeditor"
            targetID="org.eclipse.emf.genericEditor"> 
         <action
               class="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.actions.InitValidationActionDelegate"
               id="org.eclipse.viatra2.emf.incquery.validation.ui.actions.generic.formeditor"
               label="EMF-IncQuery Validator"
               style="push"
               toolbarPath="file/export">
         </action>         
      </editorContribution>
   </extension>
</plugin>
