<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
            name="Initialize EMF-IncQuery Validators">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.handlers.InitValidatorsHandler"
            commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecore.presentation.EcoreEditorID">
         <menu
               id="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.menu.ecoreEditor"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecore.presentation.XMLReflectiveEditorID">
         <menu
               id="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.menu.xmlReflectiveEditor"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.genericEditor">
         <menu
               id="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.menu.genericEditor"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecore.presentation.ReflectiveEditorID">
         <menu
               id="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.menu.reflectiveEditor"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
