<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.incquery.tooling.core.generatorFragment">
      <fragment
            annotation="QueryBasedFeature"
            fragment="org.eclipse.incquery.querybasedfeatures.tooling.DerivedFeatureGenerator">
      </fragment>
   </extension>
</plugin>
