<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.viatra2.emf.incquery.snapshot.EIQSnapshot.presentation.EIQSnapshotModelWizardID"
            name="%_UI_EIQSnapshotModelWizard_label"
            class="org.eclipse.viatra2.emf.incquery.snapshot.EIQSnapshot.presentation.EIQSnapshotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EIQSnapshotModelFile.gif">
         <description>%_UI_EIQSnapshotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.viatra2.emf.incquery.snapshot.EIQSnapshot.presentation.EIQSnapshotEditorID"
            name="%_UI_EIQSnapshotEditor_label"
            icon="icons/full/obj16/EIQSnapshotModelFile.gif"
            extensions="eiqsnapshot"
            class="org.eclipse.viatra2.emf.incquery.snapshot.EIQSnapshot.presentation.EIQSnapshotEditor"
            contributorClass="org.eclipse.viatra2.emf.incquery.snapshot.EIQSnapshot.presentation.EIQSnapshotActionBarContributor">
      </editor>
   </extension>

</plugin>
