<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.unexpectedmatchrecord.UnexpectedMatchRecordMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.UnexpectedMatchRecord">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.recordrolevalue.RecordRoleValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue">
      </matcher>
   </extension>
   <extension
         id="extension.derived.org.eclipse.viatra2.emf.incquery.testing.queries.RecordRoleValue"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="MatchRecord"
            feature-name="role"
            package-nsUri="http://www.eclipse.org/viatra2/emf/incquery/snapshot">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.testing.queries.substitutionvalue.SubstitutionValueMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue">
      </matcher>
   </extension>
   <extension
         id="extension.derived.org.eclipse.viatra2.emf.incquery.testing.queries.SubstitutionValue"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="MatchSubstitutionRecord"
            feature-name="derivedValue"
            package-nsUri="http://www.eclipse.org/viatra2/emf/incquery/snapshot">
      </wellbehaving-derived-feature>
   </extension>

</plugin>
