<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.viatra2.emf.incquery.databinding.ui"
            name="MatchSetViewer">
      </category>
      <view
            category="org.eclipse.viatra2.emf.incquery.databinding.ui"
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
            icon="icons/sample.gif"
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
            name="MatchSetViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra2.patternlanguage.emf.file">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.emfpattern">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.RuntimeMatcherMenuRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.RuntimeMatcherMenuUnRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.UnloadModelHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.unloadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.LoadModelHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.loadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.ShowLocationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.showlocation">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.RuntimeMatcherEditorRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg_editor">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.databinding.ui.handlers.RuntimeMatcherEditorUnRegistrationHandler"
            commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg_editor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.packageExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.emfpattern">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.emfpattern">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.projectExplorer"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.resourceNavigator"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.patternlanguage.emf.file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.loadmodel"
               icon="icons/load.gif"
               label="Load model"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.unloadmodel"
               icon="icons/unload.gif"
               label="Unload model"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra2.emf.incquery.databinding.ui.MatchSetViewer.treeViewerMenu">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.showlocation"
               label="Show location"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.viatra2.emf.incquery.databinding.ui.observable.PatternMatch">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.edit">
         <menu
               id="org.eclipse.viatra2.emf.incquery.databinding.ui.menu.emfpatternlanguage"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg_editor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg_editor"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.viatra2.patternlanguage.EMFPatternLanguage">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg"
            name="Register patterns in MatchSetViewer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg"
            name="Unregister patterns from MatchSetViewer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.loadmodel"
            name="Load model">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.unloadmodel"
            name="Unload model">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.showlocation"
            name="Show location">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.command2"
            name="name">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherreg_editor"
            name="Register patterns in MatchSetViewer">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.databinding.ui.runtimematcherunreg_editor"
            name="Unregister patterns from MatchSetViewer">
      </command>
   </extension>

</plugin>
