<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <!--<command
            id="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnSelection"
            name="Initialize EMF-IncQuery Validators on Selected Subtree">
      </command>-->
      <command
            id="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor"
            name="Initialize EMF-IncQuery Validators on Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!--<handler
            class="org.eclipse.incquery.validation.runtime.ui.handlers.InitValidatorsForSelectionHandler"
            commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnSelection">
      </handler>-->
      <handler
            class="org.eclipse.incquery.validation.runtime.ui.handlers.InitValidatorsForEditorHandler"
            commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.eclipse.incquery.validation.runtime.ui.menu"
               label="EMF-IncQuery Validation">
            <command
                  commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.incquery.validation.runtime.ui.hasConstraint">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="additions">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.incquery.validation.runtime.ui.menu?after=additions">
         <command
               commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.emf.ecore.presentation.XMLReflectiveEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.incquery.validation.runtime.ui.menu?after=additions">
         <command
               commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.emf.ecore.presentation.ReflectiveEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.incquery.validation.runtime.ui.menu?after=additions">
         <command
               commandId="org.eclipse.incquery.validation.runtime.ui.initValidatorsOnEditor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.emf.genericEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.incquery.validation.runtime.ui.notifierdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.emf.common.notify.Notifier">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.incquery.validation.runtime.ui.EditorReferenceTester"
            id="org.eclipse.incquery.validation.runtime.ui.editorReference"
            namespace="org.eclipse.incquery.validation.runtime.ui"
            properties="hasConstraint"
            type="java.lang.String">
      </propertyTester>
   </extension>
</plugin>
