<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.wellbehaving"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="EClass"
            package-nsUri="http://www.eclipse.org/emf/2002/Ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="EStructuralFeature"
            feature-name="eType"
            package-nsUri="http://www.eclipse.org/emf/2002/Ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="EAttribute"
            package-nsUri="http://www.eclipse.org/emf/2002/Ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="EReference"
            package-nsUri="http://www.eclipse.org/emf/2002/Ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="ETypedElement"
            package-nsUri="http://www.eclipse.org/emf/2002/Ecore">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAttributes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAttributes"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eattributes.EAttributesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eReferences"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eReferences"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.ereferences.EReferencesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllGenericSuperTypes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllGenericSuperTypes"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallgenericsupertypes.EAllGenericSuperTypesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eSuperTypes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eSuperTypes"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.esupertypes.ESuperTypesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllSuperTypes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllSuperTypes"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallsupertypes.EAllSuperTypesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllStructuralFeatures"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllStructuralFeatures"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallstructuralfeatures.EAllStructuralFeaturesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllAttributes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllAttributes"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallattributes.EAllAttributesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllReferences"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllReferences"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallreferences.EAllReferencesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllContainments"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllContainments"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eallcontainments.EAllContainmentsMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllOperations"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eAllOperations"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.ealloperations.EAllOperationsMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eIDAttribute"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="org.eclipse.viatra2.emf.incquery.ecore.eclass.eIDAttribute"
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eclass.eidattribute.EIDAttributeMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.many"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.many.ManyMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.ecore.many">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.many"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="org.eclipse.viatra2.emf.incquery.ecore.many.ManyEvaluator1_1"
            id="org.eclipse.viatra2.emf.incquery.ecore.many_1_1">
      </evaluator>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.required"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.required.RequiredMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.ecore.required">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.required"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="org.eclipse.viatra2.emf.incquery.ecore.required.RequiredEvaluator1_1"
            id="org.eclipse.viatra2.emf.incquery.ecore.required_1_1">
      </evaluator>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eAttributeType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.eattributetype.EAttributeTypeMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.ecore.eAttributeType">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.container"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.container.ContainerMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.ecore.container">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.ecore.eReferenceType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.viatra2.emf.incquery.ecore.ereferencetype.EReferenceTypeMatcherFactory$Provider"
            id="org.eclipse.viatra2.emf.incquery.ecore.eReferenceType">
      </matcher>
   </extension>

</plugin>
