<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="constraint" name="constraint" schema="schema/constraint.exsd"/>
   <extension
         point="org.eclipse.viatra2.patternlanguage.core.annotation">
      <annotation
            name="Constraint">
         <annotationparameter
               mandatory="true"
               multiple="false"
               name="location"
               type="string">
         </annotationparameter>
         <annotationparameter
               mandatory="true"
               multiple="false"
               name="message"
               type="string">
         </annotationparameter>
         <annotationparameter
               mandatory="true"
               multiple="false"
               name="severity"
               type="string">
         </annotationparameter>
         <annotationparameter
               mandatory="false"
               multiple="false"
               name="targetEditorId"
               type="string">
         </annotationparameter>
      </annotation>
   </extension>

</plugin>
