<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/viatra2/gtasm/PatternLanguage" 
       class = "org.eclipse.viatra2.gtasm.patternLanguage.PatternLanguagePackage"
       genModel = "org/eclipse/viatra2/gtasm/PatternLanguage.genmodel" /> 
	
  </extension>





</plugin>
