<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.viatra2.emf.incquery.tooling.generator.generatorFragment">
      <fragment
            fragment="org.eclipse.viatra2.emf.incquery.tooling.generator.databinding.DatabindingGenerator"></fragment>
   </extension>
</plugin>
