<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  

  <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContribution">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.commands.initializevalidation"
                  label="Initialize Validation (powered by EMF-INCQuery)"
                  style="push">
            </command>
         </menuContribution>
   </extension>
   <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.viatra2.emf.incquery.validation.commands"
               defaultHandler="org.eclipse.viatra2.emf.incquery.validation.ui.actions.gmf.InitializeValidationHandler"
               id="org.eclipse.viatra2.emf.incquery.validation.commands.initializevalidation"
               name="Initialize IncQuery Validation">
         </command>
         <category
               id="org.eclipse.viatra2.emf.incquery.validation.commands"
               name="EMF-IncQuery Validation commands">
         </category>
   </extension>

</plugin>
