<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="emfpattern" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.xtend2.m2e.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.xtend2.sdk.feature.group" version="2.2.1.v201112130541"/>
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.0.0.v201108011202"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.0.0.v201108011202"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.2.1.v201112130541"/>
<repository location="http://download.itemis.com/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.viatra2.emf.incquery.runtime.feature.feature.group" version="0.4.0.201112010014"/>
<repository location="http://viatra.inf.mit.bme.hu/update/nightly/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.xtext.utils.unittesting.feature.feature.group" version="0.9.2"/>
<repository location="http://xtext-utils.eclipselabs.org.codespot.com/git.distribution/releases/unittesting-0.9.x"/>
</location>
</locations>
</target>
