<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.viatra2.emf.incquery.tooling.generator.generatorFragment">
      <fragment
            annotation="Handler"
            fragment="org.eclipse.viatra2.emf.incquery.tooling.generator.ui.SampleUIGenerator">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.viatra2.patternlanguage.core.annotation">
      <annotation
            description="This annotation can be used to generate a sample code with a handler and a dialog that shows the matches of the query in a selected file resource."
            name="Handler">
         <annotationparameter
               description="The extension of the files where the generated handler should be available."
               mandatory="true"
               multiple="false"
               name="fileExtension"
               type="string">
         </annotationparameter>
      </annotation>
   </extension>
</plugin>
