<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.viatra2.emf.incquery.projectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.viatra2.emf.incquery.core.project.IncQueryNature">
         </run>
      </runtime>
   </extension>
</plugin>
