<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="annotation" name="Pattern Annotation" schema="schema/annotation.exsd"/>
   <extension-point id="purewhitelist" name="EMF-IncQuery @Pure Whitelist extension" schema="schema/purewhitelist.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/incquery/patternlanguage/PatternLanguage" 
       class = "org.eclipse.incquery.patternlanguage.patternLanguage.PatternLanguagePackage"
       genModel = "org/eclipse/incquery/patternlanguage/PatternLanguage.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
     <wellbehaving-derived-feature
           classifier-name="PatternBody"
           feature-name="variables"
           package-nsUri="http://www.eclipse.org/incquery/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
     <wellbehaving-derived-feature
           classifier-name="Variable"
           feature-name="references"
           package-nsUri="http://www.eclipse.org/incquery/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
     <wellbehaving-derived-feature
           classifier-name="VariableReference"
           feature-name="variable"
           package-nsUri="http://www.eclipse.org/incquery/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
  </extension>
  <extension
        point="org.eclipse.incquery.patternlanguage.purewhitelist">
     <whitelist
           whitelistClass="org.eclipse.incquery.patternlanguage.validation.whitelist.JavaLangWhitelist">
     </whitelist>
  </extension>

</plugin>
