<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.viatra2.emf.incquery.gui.category"
            name="EMF-IncQuery">
      </category>
      <wizard
            category="org.eclipse.viatra2.emf.incquery.gui.category"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.viatra2.gui.perspective"
            id="org.eclipse.viatra2.emf.incquery.gui.newproject"
            name="Create Incremental Query Project"
            preferredPerspectives="org.eclipse.viatra2.gui.perspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples"
            class="org.eclipse.viatra2.emf.incquery.gui.wizards.NewSampleProjectWizard"
            finalPerspective="org.eclipse.viatra2.gui.perspective"
            id="org.eclipse.viatra2.emf.incquery.gui.sampleprojectwizard"
            name="EMF-IncQuery Sample Project"
            preferredPerspectives="org.eclipse.viatra2.gui.perspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra2.emf.incquery.gui.loadmodel"
            name="Load GenModels into EMF-IncQuery project">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.gui.generate-source"
            name="Generate EMF-IncQuery Source Code">
      </command>
      <command
            id="org.eclipse.viatra2.emf.incquery.gui.gensampleproject"
            name="Generate Sample UI project for EMF-IncQuery">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:incquerygenmodel.presentation.IncquerygenmodelEditorID">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.loadmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="incquerygenmodel.IncQueryGenmodel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
               
         </command>
      </menuContribution>
      
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
             <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.gui.generate-source"
                  style="push">
                              <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              value="*.incquery"
                              property="org.eclipse.core.resources.name">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.gensampleproject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.incquery">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
        </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
           <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.gui.generate-source"
                  style="push">
                               <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              value="*.incquery"
                              property="org.eclipse.core.resources.name">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.gui.gensampleproject"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.incquery">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
           </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
        <menu
               label="EMF-IncQuery">
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.generate-source"
               style="push">                              
               <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              value="*.incquery"
                              property="org.eclipse.core.resources.name">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra2.emf.incquery.gui.gensampleproject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.incquery">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
        </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra2.emf.incquery.gui.handlers.FillVPMLHandler"
            commandId="org.eclipse.viatra2.emf.incquery.gui.loadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.gui.handlers.GenerateSourceCodeHandler"
            commandId="org.eclipse.viatra2.emf.incquery.gui.generate-source">
      </handler>
      <handler
            class="org.eclipse.viatra2.emf.incquery.gui.handlers.GenerateSampleProjectHandler"
            commandId="org.eclipse.viatra2.emf.incquery.gui.gensampleproject">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.viatra2.emf.incquery"
            name="EMF-IncQuery">
      </category>
      <cheatsheet
            category="org.eclipse.viatra2.emf.incquery"
            composite="true"
            contentFile="cheatsheets/gettingstarted.xml"
            id="org.eclipse.viatra2.emf.incquery.gui.cheatsheet"
            name="Getting Started with EMF-IncQuery">
      </cheatsheet>
   </extension>

</plugin>
