<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.incquery.tooling.core.generatorFragment">
      <fragment
            annotation="ObservableValue"
            fragment="org.eclipse.incquery.databinding.tooling.DatabindingGenerator"></fragment>
   </extension>
</plugin>
