<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="generatorFragment" name="EMF-IncQuery Code Generation Fragment" schema="schema/generatorFragment.exsd"/>
   <extension
         id="org.eclipse.incquery.projectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.incquery.tooling.core.project.IncQueryNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.incquery.tooling.core.projectbuilder">
      </builder>
   </extension>
   <extension
         id="org.eclipse.incquery.tooling.core.generator.marker.inference"
         name="EMF-IncQuery Generator Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.incquery.tooling.core.generator.marker.fragment"
         name="EMF-IncQuery Generator Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="projectbuilder"
         name="EMF-IncQuery Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.incquery.tooling.core.project.IncQueryProjectBuilder">
         </run></builder>
   </extension>

</plugin>
